simplified_ui true

mouse_mode false

ui {
  pane_frames false
}

keybinds clear-defaults=true {
  normal {
    bind "Ctrl f" { SwitchToMode "tmux"; }
  }

  tmux {
    bind "Ctrl c" { SwitchToMode "normal"; }
    bind "c" { NewTab; SwitchToMode "normal"; }
    bind "'" { NewPane "Right"; SwitchToMode "normal"; }
    bind ";" { NewPane "Down"; SwitchToMode "normal"; }
    bind "n" { GoToNextTab; SwitchToMode "normal"; }
    bind "p" { GoToPreviousTab; SwitchToMode "normal"; }
    bind "h" { MoveFocus "Left"; SwitchToMode "normal"; }
    bind "j" { MoveFocus "Down"; SwitchToMode "normal"; }
    bind "k" { MoveFocus "Up"; SwitchToMode "normal"; }
    bind "l" { MoveFocus "Right"; SwitchToMode "normal"; }
    bind "d" { Detach; }
    bind "m" { SwitchToMode "move"; }
    bind "r" { SwitchToMode "resize"; }
    bind "s" { SwitchToMode "scroll"; }
  }

  move {
    bind "Ctrl c" { SwitchToMode "normal"; }
    bind "n" { MoveTab "Right"; SwitchToMode "normal"; }
    bind "p" { MoveTab "Left"; SwitchToMode "normal"; }
    bind "h" { MovePane "Left"; SwitchToMode "normal"; }
    bind "j" { MovePane "Down"; SwitchToMode "normal"; }
    bind "k" { MovePane "Up";  SwitchToMode "normal";}
    bind "l" { MovePane "Right"; SwitchToMode "normal"; }
  }

  resize {
    bind "Ctrl c" { SwitchToMode "normal"; }
    bind "h" { Resize "Left"; }
    bind "j" { Resize "Down"; }
    bind "k" { Resize "Up"; }
    bind "l" { Resize "Right"; }
  }


  scroll {
    bind "Ctrl c" { SwitchToMode "Normal"; }
    bind "j" { ScrollDown; }
    bind "k" { ScrollUp; }
    bind "g" { ScrollToTop; }
    bind "G" { ScrollToBottom; }
  }
}
